 .container:before,
 .container:after {
   display: none;
   width: none;
 }
 
 .carousel-indicators li {
   background-color: #3c4e6d;
 }
 
 .carousel-indicators .active {
   border: 1px solid #3c4e6d;
 }
 
 .carousel-caption {
   top: 15%;
   left: 0;
   right: 0;
 }
 
 .carousel-inner>.item>img,
 .carousel-inner>.item>a>img {
   width: 100% !important;
   min-height: 500px;
   object-fit: cover;
   object-position: center;
 }
 
 .navbar-collapse {
   padding: 0;
 }